/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');
:root{
        /* Primary colors */
    /* main background */
    --Very-dark-blue: hsl(233, 47%, 7%);
    /* card background */
    --Dark-desaturated-blue: hsl(244, 38%, 16%);
    /* accent */
    --Soft-violet: hsl(277, 64%, 61%);
    
        /* Neutral colors */    
    /* main heading, stats */
    --White: hsl(0, 0%, 100%);
    /* main paragraph */
    --Slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
    /* stat headings */
    --Slightly-transparent-white: hsla(0, 0%, 100%, 0.6);

    /* Font family */
    --fm-Lexend-Deca: 'Lexend Deca', sans-serif;
    --fm-Inter: 'Inter', sans-serif;
}
html{
    font-size: 15px;
}
body{
    min-height: 100vh;
    font-size: 1rem;
    background-color: var(--Very-dark-blue);
    box-sizing: border-box;
    padding: 5em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.container{
    width: 90%;
    max-width: 600px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: .5rem;
    background-color: var(--Dark-desaturated-blue);
}
.container__img-section__mobile-design, .container__img-section__desktop-design{
    width: 100%;
    filter: opacity(.5) drop-shadow(0 0 0 var(--Soft-violet));
}
.container__img-section__desktop-design{
    display: none;
}
.container__second-section{
    padding: 2.25em;
}
.container__second-section__header{
    font-size: 2rem;
    font-family: var(--fm-Lexend-Deca);
    color: var(--White);
    font-weight: 700;
    text-align: center;
    margin: 0;
}
.violet-color{
    color: var(--Soft-violet);
}
.container__second-section__description{
    font-size: 1rem;
    font-family: var(--fm-Inter);
    color: var(--Slightly-transparent-white);
    text-align: center;
    line-height: 1.75em;
    margin: 1em 0 0;
}
.container__second-section__stats{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 2.75em;
}
.container__second-section__stats__data{
    color: var(--White);
    font-size: 1.75rem;
    font-family: var(--fm-Inter);
    font-weight: 700;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}
.container__second-section__stats__data-header{
    color: var(--Slightly-transparent-white);
    font-family: var(--fm-Lexend-Deca);
    font-weight: 400;
    font-size: .5em;
    letter-spacing: .1em;
}
.attribution{
    font-family: var(--fm-Lexend-Deca);
    font-size: 0.6875rem;
    text-align: center;
    color: var(--White);
    margin-top: 3em;
}
.attribution a{
    color: var(--Soft-violet);
    font-weight: 700;
}
.attribution a:hover{
    transition: all .2s ease;
    opacity: .75;
}
/* Desktop design */
@media(min-width: 64rem){
    body{
        padding: 0;
    }
    .container{
        max-width: 63rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .container__second-section{
        grid-column-start: 1;
        grid-row-start: 1;
        padding: 4em 6em 4em 4em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .container__img-section__mobile-design{
        display: none;
    }
    .container__img-section__desktop-design{
        display: block;
    }
    .container__second-section__header{
        font-size: 2.25rem;
        text-align: left;
    }
    .container__second-section__description{
        text-align: left;
    }
    .container__second-section__stats{
        margin-top: 0;
        flex-direction: row;
        justify-content: space-between;
    }
    .container__second-section__stats__data{
        align-items: start;
    }
}